body, html {
	height: 100%;
	font-family: "Inconsolata", sans-serif;
	color: antiquewhite;
}
  
  .bgimg {
	background-position: center;
	background-size: cover;
	background-image: url("caribbean diet (1).png");
	min-height: 75%;
  }
  
  .menu {
	display: none;
  }
.w3-sand {
	background-image: url("close-up-of-wooden-plank-326311.jpg");
	background-repeat: repeat;
}
div {
	color: aliceblue;
}
